@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        font-family: JetBrainsMono, serif;
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    a {
        color: aqua;
        text-decoration: none;
    }

    a:hover {
        color: aqua;
        text-decoration: #ff66cc underline;
    }

    .inverted-svg {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        font-family: JetBrainsMono, serif;
        color: black;
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    a {
        color: #ff66cc;
        text-decoration: none;
    }
    a:hover {
        color: #ff66cc;
        text-decoration: aqua  underline;
    }

    .inverted-svg {
        filter: invert(0);
    }
}

@media only screen and (max-width: 1000px) {
    .main-text {
        font-size: 300% !important;
    }
}

.center-text {
    text-align: center !important;
}

.centered-text {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.main-text {
    max-width: 800px;
    text-align: justify;
    font-size: 200%;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-link-text {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 500%;
    text-align: center;
    font-family: JetBrainsMono, serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.jetBrainsMono {
    font-family: JetBrainsMono, serif;
}

.jetBrainsMono-link {
    margin-top: 3%;
    font-family: JetBrainsMono, serif;
    font-size: 330%;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.blog-link {
    text-align: left;
    color: inherit;
    font-weight: bold;
}

li.blog {
    font-size: 150%;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
}

.footer-text {
    font-weight: bold;
    text-align: center;
    font-family: JetBrainsMono, serif;
}

.bold {
    font-weight: bold;
}

html, body {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.contacts {
    column-count: 2;
    column-gap: 20px;
}

.footer {
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 10% 8%;
}

.pager {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

iframe.page-frame {
    width: 100%;
    display: block;
    height: 100vh;
    border-style: none;
}

.pages-list {
    margin-top: 5%;
}

.blog-content {
    font-size: 150%;
    width: 98%;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.first-line-margin {
    text-indent: 10%;
}

.inline-image-container {
    display: inline-block;
    height: 1em;
}

.inline-image {
    vertical-align: middle;
    max-height: 100%;
}

/*TODO add max width for text */
